*__pycache__*
*.vscode*
**/HITS-SDO-Independent-Research
*hdbscan_clusterers*
*lightning_logs*
*nohup.out*
/.conda
/.vscode
/1d_power_spectrum_dataset.npz
/AIA_171_Images
/AIA171_Miniset_BW
/AIA171_Miniset_BW.zip
/aia171_miniset_pow_spect.npz
/ISEP_Data
/ISEP_Data.tar.gz
/stacking_classifiers