*.p
**/HITS-SDO-Independent-Research
/__pycache__
/.conda
/.vscode
/1d_power_spectrum_dataset.npy
/AIA_171_Images
/ISEP_Data
/ISEP_Data.tar.gz
/sdo_augmentation/__pycache__
/sdo_augmentation/data
/transformations/__pycache__
/transformations/.vscode
/nohup.out